.navbar .navbar-toggler {
    padding: 0.5rem;
    border: 0;
}

.navbar .nav-link {
    margin-right: 21px;
}

.navbar .navbar-brand {
    font-size: 1.2rem;
    font-weight: bold;
}

.navbar .navbar-brand img {
    height: 1rem;
}

.navbar .navbar-nav {
    padding-top: 1.2rem;
    padding-bottom: 1rem;
    margin-right: 99px;
}

.navbar a {
    font-weight: 500;
    color: white !important;
    font-size: 17px;
    text-transform: capitalize;
}

.page-hero {
    position: relative;
    padding-top: 8rem;
    padding-bottom: 8rem;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}

.home-page-hero .page-hero-content {
    padding-top: 153px;
    padding-bottom: 72px;
}

.page-hero .page-hero-content .page-hero-title {
    color: white;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 0.5px;
    word-spacing: 2px;
    text-align: center;
}

.home-page-hero .page-hero-content .page-hero-title {
    font-size: 58px;
    text-align: left;
    line-height: 94px;
    font-weight: bold;
    letter-spacing: 0px;
    text-align: center;
}

.home-page-hero .start_button {
    z-index: 13;
    background-color: rgb(255, 255, 255);
    text-transform: uppercase;
    visibility: visible;
    text-align: left;
    line-height: 17px;
    letter-spacing: 0px;
    font-weight: 900;
    border-color: rgb(0, 0, 0);
    border-style: none;
    border-radius: 0px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    white-space: nowrap;
    width: auto;
    height: auto;
    min-height: 0px;
    min-width: 0px;
    max-height: none;
    max-width: none;
    opacity: 1;
    transform-origin: 50% 50% 0px;
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    border-width: 0px;
    padding: 9px 18px;
    cursor: pointer;
}

.page-hero .page-hero-content .page-hero-title::before {
    content: url('/icons/green-bar.webp');
    display: block;
}

.page-hero .page-hero-content .page-hero-title::after {
    content: url('/icons/orange-bar.webp');
}

.home-page-hero .page-hero-content .page-hero-title::after,
.home-page-hero .page-hero-content .page-hero-title::before {
    content: '';
}

.page-hero .page-hero-content .page-hero-text {
    color: white;
    font-size: 15px;
    font-weight: normal;
    letter-spacing: 0.5px;
    word-spacing: 2px;
    margin: 0px !important;
    text-align: center;
    padding: 11px;
    padding-bottom: 0;
}

.page-hero .page-hero-content .page-hero-text.small {
    font-size: 0.9rem;
}

.page-hero-dark {
    color: #fff;
    background-color: #212832;
}

.page-hero-dark .page-hero-title {
    color: #fff;
}

.page-hero-light {
    background-color: #f2f6fc;
}

.page-hero-light .page-hero-text {
    color: #69707a;
}

.page-hero-light .page-hero-text a {
    color: #4a515b;
}

.page-hero.navbar-fixed .page-hero-content {
    padding-top: 12.5rem;
}

.page-header-video video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
    transform: translateX(-50%) translateY(-50%);
}

.text-right {
    text-align: right;
}

.learn_more {
    color: #43afa7;
    border-bottom: 1px solid #45afaa;
    font-size: 13px !important;
    margin-top: 51px !important;
}

.how-we-are-holder h1 {
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 0.5px;
    word-spacing: 2px;
    margin: 30px 0px 0px 0px !important;
    text-align: center;
}

.how-we-are-holder h6 {
    line-height: 25px;
    font-size: 17px;
    padding-top: 11px;
}

.how-we-are-holder .read-more {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    color: white;
    padding: 10px 66px;
    border-radius: 7px;
    background-image: linear-gradient(to right, #abbc0c, #00afa8);
    border: 2px solid white;
    box-shadow: #b4b4b4 1px 1.7px 5.8px;
}

.we-offer-holder h1 {
    color: white;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 0.5px;
    word-spacing: 2px;
    margin: 30px 0px 0px 0px !important;
    text-align: center;
}

.we-offer-holder h6 {
    text-align: center;
    color: white;
    font-size: 18px;
}

.we-offer-holder .card {
    background: #ffffff6e;
}

.we-offer-holder .card img {
    width: 160px !IMPORTANT;
    margin: 0 auto;
}

.we-offer-holder .card .card-title {
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    line-height: 26px;
    margin-bottom: 10px;
}

.about-us-holder {
    background-size: cover;
    background-position: center;
}

.how-its-work-holder {
    background-size: 100% 100% !Important;
    margin-top: -80px !important;
    padding-top: 70px !important;
    padding-bottom: 20px !important;
}

.how-its-work-holder h1 {
    color: black;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 0.5px;
    word-spacing: 2px;
    margin: 30px 0px 0px 0px !important;
    text-align: center;
}

.how-its-work-holder .card-title {
    margin-top: 22px;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 22px;
    color: #b1bd32;
    text-align: center;
}

.how-its-work-holder .card-text {
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 16px;
    color: black;
    text-align: center;
}

.how-its-work-holder img {
    width: 193px;
    height: 143px;
    margin: 0 auto;
    border: 7px solid #fff;
    box-shadow: #b4b4b4 1px 1.7px 5.8px;
}

.how-its-work-holder img::after {
    border: 1px solid red;
}

.meet-startup-holder {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: contain !important;
    background-color: #ededed;
}

.meet-startup-holder h1 {
    color: black;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 0.5px;
    word-spacing: 2px;
    margin: 30px 0 0 0 !important;
    text-align: center;
}

.meet-startup-holder h6 {
    text-align: center;
    color: black;
    font-size: 16px;
    line-height: 28px;
}

.counter-back-holder {
    padding-top: 50px !important;
    padding-bottom: 50px !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: contain !important;
}

.counter-back-holder .card-title {
    width: 72%;
    border: 4px solid white;
    box-shadow: #b4b4b4 1px 1.7px 5.8px;
    font-weight: 600;
    margin: 0 auto;
    font-size: 28px;
    padding: 10px;
    text-align: center;
}

.counter-back-holder .card-text {
    margin-top: 20px;
    font-size: 20px;
    font-weight: 500;
    text-shadow: #ededed 0.4px 0.5px 0.8px;
}

.green-box {
    background-color: #b1bd2f;
}

.text-green {
    color: #b1bd2f;
}

.cayan-box {
    background-color: #00b0a8;
}

.text-cayan {
    color: #00b0a8;
}

.text-yellow {
    color: #f1a82f;
}

.yellow-box {
    background-color: #f1a82f;
}

.orange-box {
    background-color: #f07042;
}

.text-orange {
    color: #f07042;
}

.industries-holder {
    background-color: #1c1c1c !important;
}

.industries-holder .position-relative {
    height: 250px;
    background-position: center center;
}

.industries-holder h1 {
    color: white;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 0.5px;
    word-spacing: 2px;
    margin: 30px 0px 0px 0px !important;
    text-align: center;
}

.industries-holder h6 {
    text-align: center;
    color: white;
    font-size: 17px;
    margin-bottom: 40px;
}

.industries-holder .position-absolute {
    position: absolute !important;
    text-align: center;
    margin: 0 auto;
    left: 37%;
    top: 30%;
}

.industries-holder .position-absolute img {
    width: 76px;
    height: 76px;
}

.industries-holder .position-absolute h4 {
    color: white;
    font-size: 20px;
    text-align: center;
    padding-top: 10px;
}

.form-control {
    background-color: white !important;
}

.site-first-color {
    color: #01023B !important;
}

.site-second-color {
    color: #F784B2 !important;
}

.site-third-color {
    color: #6641F3 !important;
}

.site-fourth-color {
    color: #00D3E1 !important;
}

.site-first-btn-color, .bg-success {
    background-color: #01023B !important;
    color: white !important;
    border: #01023B !important;
}

.site-first-btn-color:hover {
    background-color: #6641F3 !important;
    color: white !important;
    border: #6641F3 !important;
}

.site-second-btn-color {
    background-color: #F784B2 !important;
    color: white !important;
    border: #F784B2 !important;
}

.site-second-btn-color:hover {
    background-color: #6641F3 !important;
    color: white !important;
    border: #6641F3 !important;
}

.site-third-btn-color {
    background-color: #6641F3 !important;
    color: white !important;
    border: #6641F3 !important;
}

.site-third-btn-color:hover {
    background-color: #6641F3 !important;
    color: white !important;
    border: #6641F3 !important;
}

.site-fourth-btn-color {
    background-color: #00D3E1 !important;
    color: white !important;
    border: #00D3E1 !important;
}

.site-fourth-btn-color:hover {
    background-color: #6641F3 !important;
    color: white !important;
    border: #6641F3 !important;
}

.site-mix-color {

}

footer {
    background-color: #1c1c1c;
}

footer img {
    width: 140px;
}

footer .nav-holder {
    line-height: 38px;
}

footer .nav-holder .col.right {
    padding-left: 79px;
}

footer .nav-holder a {
    font-size: 15px;
    line-height: 20px;
}

footer .nav-holder img {
    display: block;
    width: 80px;
    height: 2px;
}

.btn-circle {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    padding: 3px;
    font-size: 16px;
}

.login-box {
    width: 400px;
    margin: 0 auto;
    background-color: #efefef21;
    border-radius: 13px;
    color: white;
}

.login-box input {
    border: none;
}

.login-box button {
    background-color: black;
    border: none;
    opacity: 1;
}

.form-check-input:checked {
    background-color: #01023B;
    border-color: #01023B;
}

.badge {
    padding: 5px !important;
}

.progress-bar li::before {
    border: 1px solid blue;
    background-color: #1d1dc3;
}

.img-circle {
    border-radius: 50%;
}

.startup-nav-holder li {
    background: #eeeeee;
    padding: 18px;
    color: black !IMPORTANT;
    cursor: pointer;
    margin: 0 auto;
    display: inline-block;
}

.startup-nav-holder li.active, .startup-nav-holder li:hover {
    background: white !Important;
    color: #000 !IMPORTANT;
    border: 2px solid;
    border-image-source: linear-gradient(to right, #f49648, #00ada9);
    border-image-slice: 1;
}

.site-border {
    border: 2px solid;
    border-image-source: linear-gradient(to right, #f49648, #00ada9);
    border-image-slice: 1;
}

.startup-nav-holder li a {
    background: transparent;
    border: none;
    padding: 0 0 2px 0;
    display: inline;
    color: #6f6f6f;
    margin: 0;
    cursor: pointer;
}

.startup-holder {
    background-size: contain !important;
}

.startup-holder .card-title {
    font-size: 19px;
    font-weight: bold;
}
