* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    font-family: 'Nunito', sans-serif;
    background: #eee;

}

.container {
    width: 80%;
    /*box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,*/
    /*rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,*/
    /*rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;*/
    padding: 3rem 3rem 0rem 2rem;
}

.table-head {
    font-size: 24px;
}

.footer {
    color: #464545;
    font-size: 22px;
    font-weight: bold;
}

.invoice .top-right {
    text-align: left;
    padding-right: 20px;
}

.invoice .table-row {
    margin-left: -15px;
    margin-right: -15px;
    margin-top: 25px;
}

.invoice {
    font-weight: 500;
}

.invoice .table-row .table > thead {
    border-top: 1px solid #ddd;
}

.invoice .table-row .table > thead > tr > th {
    border-bottom: none;
}

.invoice .table > tbody > tr > td {
    padding: 8px 20px;
    color: #484545;
}

.main-table > tr > td {
    text-align: right;
}

.invoice .table > tbody > tr > td > ul {
    list-style: none;
}

tr i {
    color: #299f29;
    margin-right: 5px;
}

.invoice {
    margin-right: -10px;
    font-size: 16px;
}

.invoice .last-row {
    border-bottom: 1px solid #ddd;
}

.btn {
    border-radius: 0;
}

.fa-phone, .fa-envelope, .fa-map-marker {
    font-size: 30px;
    color: #484545;
}

button > i {
    color: #dddddd !important;
}

.invoice-ribbon {
    width: 85px;
    height: 88px;
    overflow: hidden;
    position: absolute;
    top: -1px;
    right: 14px;
}

.logo-img {
    width: 100%;
    max-width: 200px;
}

.ribbon-inner {
    text-align: center;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    position: relative;
    padding: 7px 0;
    left: -5px;
    top: 11px;
    width: 120px;
    background-color: #66c591;
    font-size: 15px;
    color: #fff;
}

.ribbon-inner:before, .ribbon-inner:after {
    content: "";
    position: absolute;
}

.ribbon-inner:before {
    left: 0;
}

.ribbon-inner:after {
    right: 0;
}

@media (max-width: 575px) {
    .invoice .btn {
        margin-top: 10px;
    }

    .table-head {
        font-size: 15px;
    }

    .main-table th, td {
        font-size: 14px;
    }

    .last-row td {
        font-size: x-small;
    }

    .last-row td i {
        display: none;
    }

    .last-row td ul {
        list-style: inherit;
    }

    .btn-success, .btn-danger {
        font-size: x-small;
        margin-bottom: 1rem;
    }

    .footer {
        color: gray;
        font-size: 17px;
        font-weight: bold;
    }

    .fa-phone, .fa-envelope, .fa-map-marker {
        font-size: 20px;
        margin-top: 3px;
    }
}

@media print {
    @page {
        size: 15.5in 12.6in;
    }
}
