.skin-purple .topbar {
    background: #01023B;
}

.skin-purple .topbar .top-navbar .navbar-header .navbar-brand .dark-logo {
    display: none;
}

.skin-purple .topbar .top-navbar .navbar-header .navbar-brand .light-logo {
    display: inline-block;
    color: rgba(255, 255, 255, .8);
}

.skin-purple .sidebar-nav ul li a.active, .skin-purple .sidebar-nav ul li a:hover {
    color: #01023B;
}

.skin-purple .sidebar-nav ul li a.active i, .skin-purple .sidebar-nav ul li a:hover i {
    color: #01023B;
}

.skin-purple .sidebar-nav > ul > li.active > a {
    color: #01023B;
    border-left: 3px solid #01023B;
}

.skin-purple .sidebar-nav > ul > li.active > a i {
    color: #01023B;
}

.skin-purple .page-titles .breadcrumb .breadcrumb-item.active {
    color: #01023B;
}

a {
    text-decoration: none;
    color: #01023B;
}

a:hover {
    color: #9143a5;
}

.bg-info {
    background-color: #FDF0C6 !important;
}

.bg-danger {
    background-color: #dc3545 !important;
    color: #FFFFFF !important;
}

.bg-primary {
    background-color: #0d6efd !important;
    color: #FFFFFF !important;
}

.bg-success {
    background-color: #01023B !important;
    color: #FFFFFF !important;
}

.bg-warning {
    background-color: #ffc107 !important;
    color: #FFFFFF !important;
}

.bg-secondary {
    background-color: #6c757d !important;
    color: #FFFFFF !important;
}

.bg-info {
    background-color: #0dcaf0 !important;
    color: #FFFFFF !important;
}

.bg-purple {
    background-color: #01023B !important;
    color: #FFFFFF !important;
}

.text-purple {
    color: #01023B !important;
}

.card {
    border-top: solid #01023B 4px !important;
}

.card-shadow {
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15) !important;
}

.btn-info {
    background-color: #01023B;
    border-color: #01023B !important;
}

.btn-success {
    background-color: #01023B;
    border-color: #01023B !important;
}

.btn-primary {
    background-color: #01023B;
    border-color: #01023B !important;
}

.btn-danger {
    background-color: #01023B;
    border-color: #01023B !important;
}

.btn-warning {
    background-color: #01023B;
    border-color: #01023B !important;
}

.btn-purple {
    background-color: #01023B !important;
    border-color: #01023B !important;
    color: #ffff !important;
}

.btn-link {
    color: #01023B !important;
}

.form-control:focus {
    outline: solid 1px #01023B !important;
}

.btn-purple:hover {
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15) !important;
    background-color: #ffffff !important;
    color: #01023B !important;
}

.btn-primary:hover {
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15) !important;
    background-color: #ffffff !important;
    color: #01023B !important;
}

.btn-success:hover {
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15) !important;
    background-color: #ffffff !important;
    color: #01023B !important;
}

.btn-info:hover {
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15) !important;
    background-color: #ffffff !important;
    color: #01023B !important;
}

.btn-danger:hover {
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15) !important;
    background-color: #ffffff !important;
    color: #01023B !important;
}

.btn-warning:hover {
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15) !important;
    background-color: #ffffff !important;
    color: #01023B !important;
}


.btn:focus {
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15) !important;
    background-color: #ffffff !important;
    color: #01023B !important;
    font-weight: bold !important;
}

.btn-action {
    width: 40px !important;
    height: 40px !important;
}

.accordion .btn:focus {
    box-shadow: none !important;
    background-color: transparent !important;
    color: #01023B !important;
}

.accordion-button:not(.collapsed) {
    color: #212529;
    background-color: #edf1f5;
}

.accordion-button::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e") !important;
}

.dropdown-item {
    color: #000000 !important;
}

.dropdown-item:focus, .dropdown-item:hover {
    background-color: #01023B !important;
    color: #FFFFFF !important;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: #01023B !important;
    border-color: #01023B !important;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove:hover {
    color: #c9c9c9;
}

.datepicker table tr td.active.active {
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#b355cb), to(#01023B));
}

.datepicker table tr td.today, .datepicker table tr td.today:hover {
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#01023B), to(#01023B));
    color: #FFFFFF;
}

.datepicker table tr td span.active, .datepicker table tr td span.focused {
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#b355cb), to(#01023B));
    color: #FFFFFF;
}

.datepicker table tr td span.active:hover, .datepicker table tr td span.focused:hover {
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#01023B), to(#01023B));
    color: #FFFFFF;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #212529 !important;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: #01023B !important;
    color: #FFFFFF !important;
}

.select2-container--default .select2-results__group {
    font-weight: bold !important;
}

.swal2-popup .swal2-styled:focus {
    box-shadow: 0 0 0 2px #fff, 0 0 0 4px rgba(71, 32, 81, 0.5);
}

/*.sidebar-nav .has-arrow{*/
/*    border-left: 1px solid #01023B  !important;*/
/*}*/

.skin-purple .sidebar-nav ul li a, .skin-purple .sidebar-nav ul li a {
    font-size: 13px !important;
}

.collapse li a {
    border-left: 1px dotted rgba(71, 32, 81, 0.75) !important;
}

.collapse li a:before {
    content: "-" !important;
}

.sidebar-nav ul li ul li a {
    padding-left: 0px !important;
    font-size: 13px !important;
}

.page-item.active .page-link {
    background-color: #01023B;
    border-color: #01023B;
}

.page-link {
    color: #01023B;
}

.page-link:hover {
    background-color: #01023B;
    color: #FFFFFF;
}

.nav-link {
    color: #01023B;
}

.nav-link:hover {
    color: #893e9c;
}

.nav-pills .nav-link.active {
    color: #FFFFFF;
    background-color: #01023B;
}

.dataTables_length select:focus {
    background-image: linear-gradient(#01023B, #01023B), linear-gradient(#e9ecef, #e9ecef);
}

.border-primary {
    border-color: #01023B !important;
}

.thick-primary-border-bottom {
    border-bottom: 4px solid #01023B !important;
}

.full-color {
    opacity: 1 !important;
}

.form-check > .form-check-input {
    border-color: #01023B !important;
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'><circle r='3' fill='%23472051'/></svg>") !important;
}

.form-check > .form-check-input:checked {
    background-color: #01023B;
    border-color: #01023B;
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'><circle r='3' fill='%23ffffff'/></svg>") !important;

}

.form-check-input:checked {
    background-color: #01023B;
    border-color: #01023B;
}

.dt-buttons .dt-button {
    background-color: #01023B !important;
}

.dt-buttons .dt-button:hover {
    background-color: white !important;
    color: black !important;
}
