#ssb-container {

    position: fixed;

    right: -175px;

    background-color: #FFFFFF;
    border: 1px solid #472051;

    top: 30%;

    z-index: 10;

    -webkit-transition: all .25s ease!important;

    -moz-transition: all .25s ease!important;

    -ms-transition: all .25s ease!important;

    -o-transition: all .25s ease!important;

    transition: all .25s ease!important;

    box-shadow: 0 6px 8px 0.2px rgba(64,64,64,0.24) !important;

}

#ssb-container:hover{

    right: 0px!important;

}

#ssb-container ul {

    padding: 0;

    margin: 0;

}

#ssb-container ul li {

    line-height: 45px;

}

#ssb-container ul li {

    list-style: none;

    margin: 0;





}

#ssb-container ul li p {

    margin: 0;

}

#ssb-container ul li a.bordered {

    border-bottom: 1px solid #472051;

}

#ssb-container ul li a {

    padding: 0 15px 0 0;

    display: block;

    line-height: 40px;

    text-align: left;

    white-space: nowrap;

    text-decoration: none;

    color: #472051;

    font-size: 12px;

    font-weight: 600;

    text-transform: uppercase;
    transition: all 0.6s;

}

#ssb-container ul li a:hover {
    box-shadow: inset 0 2.5em 0 0 #472051,
    inset 0 -1.5em 0 0 #472051;
    border-color: #472051;
    color: #fff;
}



#ssb-container ul li span {

    line-height: 45px;

    width: 29px;

    text-align: center;

    display: inline-block;
    vertical-align: middle;
}
#ssb-container ul li a i{
    font-size: 18px;
}
