.sidebar-nav {
    ul {
        li {
            a {
                padding: 10px 5px 10px 3px !important;
                font-size: 13px !important;
            }
        }
    }
}

.select2-container {
    .select2-selection--single {
        height: 37px !important;
        border: 1px solid #aaaaaa2e !important;
        padding-top: 3px !important;

        .select2-selection__arrow {
            top: 4px !important;
        }
    }
}
