@import 'variable';
@import 'colors/purple';
@import "bootstrap";
@import 'icons/bx-font/icons.css';
@import 'core/core';

@import 'widgets/widgets';
@import "pages/pricing-page";
@import "pages/error-pages";
@import 'plugins/owl.carousel.min';
@import 'plugins/owl.theme.default';
@import 'plugins/bootstrap-datepicker.min';
@import 'plugins/sweetalert2.min';
@import 'plugins/jquery.toast';

@import 'plugins/select2.min';
@import 'plugins/dropify';

@import 'responsive';

.form-control {
    background-color: white !important;
}

.form-control {
    background-color: white !important;
}

.footer {
    padding: 80px 0 30px !important;
    background: #EAEAEA !important;
}

.fix-width {
    max-width: 1226px;
    width: 100%;
    margin: 0 auto;
}

.container {
    max-width: 100% !important;
    padding: 0;
    margin: 0;
}

.bg-dark-grey {
    background: #EAEAEA;
}

.work-zone {
    font-weight: 700;
    font-size: 64px;
    line-height: 72px;
}

.tell-us {
    position: absolute;
    box-shadow: 0px 7px 30px rgb(0 0 0 / 12%);
    border-radius: 20px;
    left: 17%;
    top: 272px;
}

.location {
    margin-top: 180px;
}

.text-justify {
    text-align: justify;
}

.client-img {
    width: 70%;
    border-radius: 100%;
}

.testimonials-img {
    width: 100%;
    border-radius: 10px;
}

.testimonials-desc h4 {
    font-weight: 600;
    font-size: 24px;
    padding: 30px 0px 10px 0px;
    line-height: 27px;
    text-align: center;
}

.testimonials-desc p {
    text-align: center;
}

.offer-card {
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

.offer-card p {
    font-size: 12px;
    text-align: center;
    margin-bottom: 0 !important;
    margin-top: 13px;
}

.offer-user-img {
    width: 100%;
    border-radius: 10px;
}

.card-heading {
    font-weight: 700;
}

#main-wrapper {
    width: 100%;
}

html body .m-b-130 {
    margin-bottom: 130px;
}

html body .m-t-130 {
    margin-top: 130px;
}

html body .m-30 {
    margin: 30px;
}

html body .navbar-dark .mailbox .message-center a .mail-contnet .time {
    min-height: 380px;
}

.progress-bar {
    list-style: none;
    margin-top: 30px;
    font-size: 13px;
    font-weight: 700;
    background-color: transparent !important;
    counter-reset: container 0;
    padding-bottom: 10px !important;

    li {
        position: relative;
        margin-left: 14px;
        margin-top: 27px;
        counter-increment: container 1;
        color: black;
        text-align: left;
        font-weight: normal;

        &::before {
            color: #fff;
            content: counter(container);
            line-height: 25px;
            text-align: center;
            position: absolute;
            height: 29px;
            width: 29px;
            border: 1px solid #fb9678;
            border-radius: 50%;
            left: -42px;
            top: -5px;
            z-index: 10;
            background-color: #fb9678;
        }

        &::after {
            content: "";
            position: absolute;
            height: 66px;
            width: 1px;
            background-color: #fb9678;
            z-index: 1;
            left: -27px;
            top: -70px;
        }

        &:first-of-type {
            &::after {
                height: 0 !important;
            }
        }
    }

    li.active {
        color: #fb9678;
    }
}

.active-link {
    a {
        color: #fb9678 !important;
    }
}

.in-active-link {
    a {
        color: black !important;
    }
}

.jq-icon-info {
    color: white !important;
    border-color: #bce8f1;
}

.dropify-wrapper {
    font-size: 13px !important;
    border: 1px solid #e5e5e58c !important;
}

.dropify-add-clone-btn {
    right: 0;
    top: 2px;
    z-index: 1000;
    background-color: green;
    width: 25px;
    height: 25px;
    color: white;
    text-align: center;
    border-radius: 100%;
    cursor: pointer;
    padding: 3px 2px 1px 1px;
}
.dropify-remove-clone-btn{
    right: 27px;
    top: 2px;
    z-index: 1000;
    background-color: red;
    width: 25px;
    height: 25px;
    color: white;
    text-align: center;
    border-radius: 100%;
    cursor: pointer;
    padding: 3px 2px 1px 1px;
}
.bootstrap-timepicker-widget table td input {
    width: 58px !important;
    font-size: 11px !important;
    border: 1px solid #e9ecef !important;
}
.border-left{
    border-left: 1px solid #eeeeee6b;
}
@import 'responsive';
