.bootstrap-timepicker-widget table td input {
    width: 59px !important;
    height: 30px !important;
    font-size: 13px !important;
    font-weight: normal !important;
    border: 1px solid #dee2e68c !important;
    padding: 4px !important;
}

.dropify-wrapper {
    font-size: 13px !important;
    border: 1px solid #e5e5e58c !important;
}

.dropify-add-clone-btn {
    right: 0;
    top: 2px;
    z-index: 1000;
    background-color: green;
    width: 25px;
    height: 25px;
    color: white;
    text-align: center;
    border-radius: 100%;
    cursor: pointer;
    padding: 3px 2px 1px 1px;
}

.dropify-remove-clone-btn {
    right: 27px;
    top: 2px;
    z-index: 1000;
    background-color: red;
    width: 25px;
    height: 25px;
    color: white;
    text-align: center;
    border-radius: 100%;
    cursor: pointer;
    padding: 3px 2px 1px 1px;
}

.border-left {
    border-left: 1px solid #eeeeee6b;
}

.progress-bar {
    list-style: none;
    margin-top: 30px;
    font-size: 13px;
    font-weight: 700;
    background-color: transparent !important;
    counter-reset: container 0;
    padding-bottom: 10px !important;

    li {
        position: relative;
        margin-left: 14px;
        margin-top: 27px;
        counter-increment: container 1;
        color: black;
        text-align: left;
        font-weight: normal;

        &::before {
            color: #fff;
            content: counter(container);
            line-height: 25px;
            text-align: center;
            position: absolute;
            height: 29px;
            width: 29px;
            border: 1px solid #fb9678;
            border-radius: 50%;
            left: -42px;
            top: -5px;
            z-index: 10;
            background-color: #fb9678;
        }

        &::after {
            content: "";
            position: absolute;
            height: 66px;
            width: 1px;
            background-color: #fb9678;
            z-index: 1;
            left: -27px;
            top: -70px;
        }

        &:first-of-type {
            &::after {
                height: 0 !important;
            }
        }
    }

    li.active {
        color: #fb9678;
    }
}

.active-link {
    a {
        color: #fb9678 !important;
    }
}

.in-active-link {
    a {
        color: black !important;
    }
}

.jq-icon-info {
    color: white !important;
    border-color: #bce8f1;
}

.fs-13 {
    font-size: 13px !important;
}

.invoice_holder {
    .position-relative {
        background-color: #f9fafb;
    }

    .footer {
        font-size: 26px !important;
        text-align: center !important;
        padding-top: 13px !important;
        padding-bottom: 13px !important;
        margin-left: 0 !important;
        margin-bottom: 20px !important;
        background-color: #e9ecef !important;
    }

    .table-head {
        font-size: 24px;
    }

    .footer {
        font-size: 26px !important;
        text-align: center;
        padding-top: 12px !important;
        margin-left: 0 !important;
        margin-bottom: 35px !important;
        background-color: #e9ecef !important;
    }

    .invoice .top-right {
        text-align: left;
        padding-right: 20px;
    }

    .invoice .table-row {
        margin-left: -15px;
        margin-right: -15px;
        margin-top: 25px;
    }

    .invoice {
        font-weight: 500;
    }

    .invoice .table-row .table > thead {
        border-top: 1px solid #ddd;
    }

    .invoice .table-row .table > thead > tr > th {
        border-bottom: none;
    }

    .invoice .table > tbody > tr > td {
        padding: 8px 20px;
        color: #484545;
    }

    .main-table > tr > td {
        text-align: right;
    }

    .invoice .table > tbody > tr > td > ul {
        list-style: none;
    }

    tr i {
        color: #299f29;
        margin-right: 5px;
    }

    .invoice {
        margin-right: -10px;
        font-size: 16px;
    }

    .invoice .last-row {
        border-bottom: 1px solid #ddd;
    }

    .btn {
        border-radius: 0;
    }

    .fa-phone, .fa-envelope, .fa-map-marker {
        font-size: 30px;
        color: #484545;
    }

    button > i {
        color: #dddddd !important;
    }

    .invoice-ribbon {
        width: 85px;
        height: 88px;
        overflow: hidden;
        position: absolute;
        top: 0;
        right: -1px;
    }

    .logo-img {
        width: 100%;
        max-width: 200px;
    }

    .ribbon-inner {
        text-align: center;
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        position: relative;
        padding: 7px 0;
        left: -5px;
        top: 11px;
        width: 120px;
        background-color: #66c591;
        font-size: 15px;
        color: #fff;
    }

    .ribbon-inner:before, .ribbon-inner:after {
        content: "";
        position: absolute;
    }

    .ribbon-inner:before {
        left: 0;
    }

    .ribbon-inner:after {
        right: 0;
    }
}

.cursor-pointer {
    cursor: pointer;
}

.pull-right {
    float: right !important;
}
.parsley-errors-list{
    list-style-type: none !important;
    padding-left: 0 !important;
    font-size: 13px !important;
    color: red !important;
}
