.bootstrap-timepicker-widget table td input {
    width: 59px !important;
    height: 30px !important;
    font-size: 13px !important;
    font-weight: normal !important;
    border: 1px solid #dee2e68c !important;
    padding: 4px !important;
}
.dropify-wrapper {
    font-size: 13px !important;
    border: 1px solid #e5e5e58c !important;
}

.dropify-add-clone-btn {
    right: 0;
    top: 2px;
    z-index: 1000;
    background-color: green;
    width: 25px;
    height: 25px;
    color: white;
    text-align: center;
    border-radius: 100%;
    cursor: pointer;
    padding: 3px 2px 1px 1px;
}
.dropify-remove-clone-btn{
    right: 27px;
    top: 2px;
    z-index: 1000;
    background-color: red;
    width: 25px;
    height: 25px;
    color: white;
    text-align: center;
    border-radius: 100%;
    cursor: pointer;
    padding: 3px 2px 1px 1px;
}
.border-left{
    border-left: 1px solid #eeeeee6b;
}
